@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Light.woff2');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.woff2');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Wagon';
	src: url('../fonts/Wagon-ExtraLightItalic.woff2');
	font-style: italic;
	font-weight: 200;
}
